/* General wrapper for the admin page */
.main-wrapper {
    background-color: #228B22; /* Green background */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* General heading styling */
h2, h3, p {
    color: white;
}

/* Input field styling */
input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Button styling */
button {
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #8FBC8F; /* Lighter green for buttons */
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Full width buttons */
}

button:hover {
    background-color: #5a6268; /* Darker on hover */
    color: white;
}

/* List item styling for user groups */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    color: #228B22;
}

/* Header styling */
app-header {
    display: block;
    margin-bottom: 20px;
}

/* Add specific styling for forms */
input[type="text"], select {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
